
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #002F1F;  
    color: #fafafa;    
    margin: 0;
    padding: 0%;
    
    }
    
    
    header {
     background-color: #581323;
    display: flex;
     text-align: center;
     justify-content: space-between;
     padding: 20px;
    
    }
    
    header h1 {
    font-size: 24px;
    width: 50;
    margin: 50;
    
    }
    
    .logo img {
    max-width: 100px;
     height: auto;
    }

    nav ul {
        list-style: none;
        display: flex;
        align-items: center;
    }

    nav li {
        margin-right: 20px;
    }

    nav .login{
        font-size: 16px;
        font-weight: bold;
        color: #fff;
    }

    nav .carrinho img {
        width: 24px;
        height: 24px;
        cursor: pointer;
    }


    nav a {
        text-decoration: none;
        color: #fff;
        font-weight: bold;
        font-size: 16px;
        padding: 10px;
    transition: background-color 0.3s ease;
    }

    nav a:hover {
        background-color: #002F1F;
        border-radius: 5px;
    }

    .welcome-message .btn:hover {
    background-color: #581323;
}


    .destaque {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
        gap: 30px; 
        margin: 30px;
    }
    
    
    .produto {
        position: relative;
        width: 100%;
        height: auto;
        box-sizing: border-box;
        border-radius: 10px;
        background-color: #002F1F;
        color: white;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        overflow: hidden;
    }
    
    
    
    .produto h2 {
    
    color: white;
    font-size: 21px;
    margin: 0;
    }
    
    .comprar {
        background-color: #4CAF50;
        color: white;
        font-size: 16px;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: background-color 0.3s, transform 0.2s;
    }

    .comprar:hover {
        background-color: #45a049;
        transform: translateY(-3px);
    }
    
    .produto .preco {
     color: white;
    font-size: 19px;
    font-weight: bold;
    }
    
    .produto:hover {
        transform: scale(1.05);
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }
    
    .galeria {
    display: grid;
    justify-content: space-between;
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr); /* Cria 3 colunas para as imagens */
    grid-gap: 10px;
    
    }
    
    .galeria img {
    width: 100%;
    border: 1px solid #ddddddf6;
    border-radius: 5px;
    cursor: pointer;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    
    }
    
    .galeria img:hover {
    border-color: #333;
    
    
    }
    
    #contato {
    text-align: center;
    background-color: #050505;
    padding: 60px;
    
    }
    
    form {
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    border: 1px;
    border-radius: 10px;
    }
    
    label{
    display: block;
    margin-top: 10px;
    font-weight: bold;
    }
    
    input[ type="text"],
    input[type="email"],
    
    textarea{
    width: 100%;
    padding: 10px;
    margin: 5px 0 ;
    border: 1px solid #0a0a0a;
    border-radius: 5px;
    }
    
    input[type="submit"] {
    background-color: #fcfcfc;
    color: #080808;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    
    input[type="submit"] :hover {
    background-color: #090909;
    
    }
    
    footer {
        text-align: center;
    
        padding: 10px;
    }

    .produto img {
        transition: opacity 0.3s ease;
    }

    .produto:hover img {
        opacity: 0.7;
    }

    .produto:hover .preco, 
.produto:hover h2 {
    position: absolute;
    color: #fff;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    border-radius: 5px;
    transition: opacity 0.3s ease;
}
    
    button.comprar {
        background-color: #4CAF50;
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
       font-weight: bold;

        transition: background-color 0.3s ease; 
    }
    
    button.comprar:hover {
        background-color: #45a049; 
        transform: scale(1.05);
    }
    
    /* N esquece*/
    
    .produto img {
        width: 100%;
        max-height: 200px; /* Altura fixa para manter o layout consistente */
        object-fit: scale-down;/* Cobre o espaço disponível sem distorção */
        border-radius: 10px 10px 0 0;
        display: block;
        margin-bottom: 15px;
        height: auto;
    }
    
    .produto img:hover {
        transform: scale(1.5); 
    }
    .produto {
        opacity: 0;
        animation: fadeIn 0.8s ease-in-out forwards;
    }
    
    @keyframes fadeIn {
        to {
            opacity: 1;
        }
    }
    
    
    @media (max-width: 768px) {
        .header-content {
            flex-direction: column;
            align-items: center;
        }
    
        nav ul {
            flex-direction: column; /* Ajusta o menu de navegação para vertical em dispositivos menores */
            align-items: center;

        }
        .logo img{
            margin-bottom: 20px;
        }
        nav li {
            margin-bottom: 10px;
        } 



    }
    
    .carrossel {
        overflow: hidden;
        width: 100%; /* Ajuste conforme o tamanho desejado */
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .carrossel img {
        width: 150px; /* Tamanho das imagens */
        height: auto;
        border-radius: 10px;
    }
    
    .carrossel-wrapper {
        display: flex;
        gap: 20px; /* Espaçamento entre as imagens */
        animation: slider 15s linear infinite; /* Animação contínua */
        width: max-content;
         padding: 10px;
         border-radius: 10px;
    }
    
    @keyframes slider {
        0% {
            transform: translateX(0); /* Posição inicial */
        }
        100% {
            transform: translateX(-100%); /* Move as imagens para fora da tela */
        }
    }
    
    .produto-slide {
        position: relative;
    }
    
    .produto-info h2 {
        font-size: 15px;
        margin: 2px;
    }
    
    .produto-info .preco {
        font-size: 14px;
        margin: 5px 0 0 0;
    }
    
    .carrossel-wrapper:hover {
        animation-play-state: paused; /* Pausa a animação quando o usuário passa o mouse */
    }
    
    
    
    .header-content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: linear-gradient(135deg, rgba(88, 19, 35, 0.8), rgba(0, 47, 31, 0.8)), url('ATROPA.jpg');
        background-size: cover;
        padding: 20px;
        color: white;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .welcome-message h1 {
        font-size: 1.5rem; /* Tamanho maior para o título */
        margin: 0;
        animation: fadeIn 2s ease-in-out;
    }
    
    .welcome-message p {
        font-size: 1.2rem; /* mensagem curta */                                      
        margin-top: 15px;
        color: #f1f1f1;
        animation: fadeIn 2.5s ease-in-out;
    }
    
    .welcome-message .btn {
        display: inline-block;
        margin-top: 15px;
        padding: 10px 20px;
        background-color: #002F1F;                                       
        color: white;
        border-radius: 25px;
        text-transform: uppercase;
        font-weight: bold;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }
    
    
    .promocao {
        background-color: #FF0000;
        color: #FFFFFF;
        padding: 5px 10px;
        position: absolute;
        top: 10px;
        left: 10px;
        font-size: 14px;
        font-weight: bold;
        border-radius: 5px;
    }

    .carrossel-controls span {
        cursor: pointer;
        font-size: 24px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
    }
    
    .prev {
        left: 10px;
    }
    
    .next {
        right: 10px;
    }
    
    .rounded-box {
        border-radius: 15px;
        padding: 20px;
        background-color: #333;
        color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
    

     /* Estilo para o menu suspenso do carrinho */
     .carrinho-dropdown {
        position: relative;
        display: inline-block;
    }

    .carrinho-conteudo {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 200px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        padding: 10px;
        z-index: 1;
    }

    .carrinho-dropdown:hover .carrinho-conteudo {
        display: block;
    }

    .carrinho-conteudo p {
        margin: 5px 0;
    }

    .carrinho-conteudo p span {
        font-weight: bold;
    }

  